

body{
  background-color:  #eee;
}
.blog-body-main{
  display: flex;
  margin-bottom: 5px;

}
h1{
  margin: 0;
  padding: 0;
  color: #383636;
  font-weight: normal;
  font-size: 40px;
  height: 70px;
  width: 100%;
  background-color: rgb(18, 204, 204);
}


.blog-body-main .leftbar{
  /* border: 2px solid rgb(18, 204, 204); */
  /* gap: 10px; */
  width: 80%;
  padding: 5px;
  

  
}
.blog-body-main .leftbar div{
  border: 2px solid rgb(18, 204, 204);
  border-radius: 10px;
  /* margin: 1px; */

}
.blog-body-main .leftbar h2{
  color: #383636;
  font-weight: normal;
  padding: 0 10px;
}
.blog-body-main .leftbar p{
  text-indent: 35px;
  color: rgb(53, 51, 51);
}


.blog-body-main  .rightSideBar{
  border: 2px solid rgb(18, 204, 204);
  width: 30%;
  padding: 10px;
  color: #222;
  font-size: 30px;
  margin: 10px 15px;
}
.footer{
  display: flex;
  justify-content: space-around;
  color:   #7c7575;
  font-style: oblique;
}
